<!DOCTYPE html>
<html>
<head>
    <title>Opmerking</title>
</head>
<body>
    <h1>Opmerking</h1>
    <p>De ingevoerde opmerking is: <%= opmerking %></p> <!-- Gebruik <%= %> om de ontvangen opmerking te tonen -->
</body>
</html>
